body
html
	position relative
	height 100%

body
	font-family verdana
	font-size 15px
	color #000
	background #fff

a
	text-decoration none
	outline none
	color corpColor

img
	border 0
	
.container
	max-width 1170px
	margin 0 auto
	
@media tablet
	.container
		padding 0 10px