.page_article
	.list-link-img
		&_sidebar
			.list-link-img
				margin-bottom 190px
				&__item
					margin-bottom 38px
					&:last-child
						padding-bottom 10px
						background #f4f4f4
						
.page_all-news
	.list-link-img
		&_sidebar
			.list-link-img
				&__item
					margin-bottom 38px
					

@media tablet
	.page_article
		.list-link-img
			&_sidebar
				display flex
				flex-wrap wrap
				align-items center
				justify-content center
				text-align center
				.list-link-img
					&__item
						margin-left 10px
						margin-right 10px
