.header
	.array-word
		&_title
			font-size 50px
			color #fff
			font-family Georgia

.footer
	.array-word
		&_instructions
			.array-word
				&__item
					margin-bottom 30px
					line-height 1.4
				&__item strong
					color #000
					

.modal-feadback
	.array-word
		&_modal-feadback
			text-align center
			.array-word
				&__item
					line-height 1.2
					padding-bottom 8px
					&_1
						font-size 20px
						font-weight bold
					&_2
						font-size 16px
						

					
@media phone
	.header
		.array-word
			&_title
				font-size 30px
				
	.footer
		.array-word
			&_instructions
				max-width 300px