@require 'header/header.styl'
@require 'footer/footer.styl'

@require 'page/page.styl'
@require 'page_article/page_article.styl'
@require 'page_all-news/page_all-news.styl'
@require 'modal-feadback/modal-feadback.styl'

@require 'article/article.styl'
@require 'address/address.styl'
@require 'nav/nav.styl'
@require 'service/service.styl'
@require 'list-link/list-link.styl'
@require 'list-name-link/list-name-link.styl'
@require 'link-img/link-img.styl'
@require 'list-brief/list-brief.styl'
@require 'list-link-img/list-link-img.styl'
@require 'form-list-input/form-list-input.styl'
@require 'array-word/array-word.styl'
@require 'title-h4/title-h4.styl'
@require 'title-h3/title-h3.styl'
@require 'title-h1/title-h1.styl'