include header/header
include page_article/page_article
include page_all-news/page_all-news
include service/service
include footer/footer
include modal-feadback/modal-feadback


include array-word/array-word
include link-img/link-img
include list-link/list-link
include list-class/list-class
include list-brief/list-brief
include list-link-img/list-link-img
include list-name-link/list-name-link
include nav/nav
include form-list-input/form-list-input
include article/article
include title-h1/title-h1
include title-h3/title-h3
include title-h4/title-h4
include address/address