.page_article
	.main
		.row_2
			display flex
			.col_2
				position relative
				
@media tablet
	.page_article
		.row_2
			flex-direction column
			.col_2
				display flex
				flex-wrap wrap
				justify-content center
